.gitignore
.vscode/**
build.mjs
node_modules/**
out/**/*.map
src/**
tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.ts
!server/node_modules/**
server/**/*.ts
server/**/*.map
server/**/test/**
server/**/tests/**
server/**/example/**
server/**/examples/**
server/**/docs/**
server/**/*.md
!server/**/LICENSE*
